body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex-section{
    display: flex;
}
.head-section{
    width: 80%;
    margin: 0 auto;
}
.focus-parents{
    width: 50%;
    padding: 20px;
}
.focus-main-text{
    border-left: 3px solid #ff5959;
    border-radius: 3px;
}
.focus-parents h1{
    font-family: 'Lora', serif;
    font-size: 50px;    
    margin-left: 10px;
    color: #0c0934;
}
.focus-text{
margin-right: 25px;
}
.focus-text p{
    margin-right: 100px;
}
.focus-image{
    margin: 0 auto;
}
.focus-image img{
    width: 350px;
    height: 330px;
    margin-top: 60px;
}
.explore-button button{
    padding: 10px 30px 10px 30px;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.focus-parents p{
    font-size: 15px;
}
.mission-headline{
    width: 80%;
    margin-left: 10%;
}
.mission-headline h1{
    text-align: center;
    color: #0c0934;
    font-size: 35px;
    font-weight: 900;
}
.mission{
    margin: 0px 5px 0px 150px;
    background-color: #d1d0d8;
    border-radius: 20px;
    padding: 30px;
}
.vision{
    margin: 0px 5px 0px 10px;
    background-color: #f0cba0;
    border-radius: 20px;
    padding: 30px;
}
.goals{
    margin: 0px 150px 0px 10px;
    background-color: #f5f1e7;
    border-radius: 20px;
    padding: 30px;
}
.misson-list-image img{
    width:120px;
    height: auto;
}
.bg-corner{
    background-image: url(./images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    padding: 25px;
    margin-left: 50px;
    margin-top: 20px;
}
.research{
    width: 80%;
    margin-top: 80px;
    margin-left: 80px;
}
.research-image{
    margin-right: 70px;
 }
.research-image img{
    height: 350px;
    width: 350px;
}
.research-text{
    margin-right: -50px;
}
.research-text button{
    padding: 10px 30px 10px 30px;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.bg-corner-right{
    background-image: url(./images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
    padding-bottom: 300px;
}
.research-area{
    width: 80%;
    margin-top: 80px;
    margin-left: 150px;
}
.research-area-text{
   margin-right: 150px;
}
.research-area-text button{
    padding: 10px 30px 10px 30px;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.research-area-image img{
    height: 350px;
    width: 350px;
}
.get-in{
    width: 80%;
    margin-left: 140px;
    margin-top: -150px;

}
.touch-me-headline h1{
    text-align: center;
    color: #0c0934;
    font-size: 35px;
    font-weight: 900;
}
.contact-form{
	max-width: 450px;
	background: #eea8a1;
	padding: 30px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border-left: 6px solid #0c0934;
    margin-right: 150px;
}
.contact-form ul{
	padding:0;
	margin:0;
	list-style:none;
}
.contact-form ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.contact-form ul li  .field-style{
	box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
    background-color: #edf5f6;
    color:  #14113b;
    font-weight: bold;
}
.contact-form ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
    
}
.contact-form ul li .field-split{
	width: 49%;
}
.contact-form ul li .field-full{
	width: 100%;
}
.contact-form ul li input.align-left{
	float:left;
}
.contact-form ul li input.align-right{
	float:right;
}
.contact-form ul li textarea{
	width: 100%;
	height: 100px;
}
.contact-form ul li input[type="button"], 
.contact-form ul li input[type="submit"] {
	display: inline-block;
	text-decoration: none;
    padding: 10px 30px 10px 30px;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
	
}
.contact-form ul li input[type="submit"]:hover{
    border-top: 5px solid #0c0934;
    border-radius: 5px;
}
::placeholder {
    color: #33333;
}
.social{
    width: 60%;
    margin: 0 auto;
}
.social-icon #facebook:hover{
  box-shadow: 3px 5px 10px #154c79;
  border-radius: 10px;
  border-bottom: 5px solid #ff5959 ;
  border-top: 5px solid #ff5959  ;
  border-left:5px solid #154c79 ;
  border-right: 5px solid #154c79 ;
}
.social-icon #linkedin:hover{
  box-shadow: 3px 5px 10px #0288d1;
  border-radius: 10px;
  border-bottom: 5px solid #ff5959 ;
  border-top: 5px solid #ff5959  ;
  border-left:5px solid #0288d1 ;
  border-right: 5px solid #0288d1 ;
}
.social-icon #snapchat:hover{
    box-shadow: 3px 5px 10px #fed900;
    border-radius: 10px;
    border-bottom: 5px solid #ff5959 ;
    border-top: 5px solid #ff5959  ;
    border-left:5px solid #fed900;
    border-right: 5px solid #fed900 ;
}
.social-icon #gmail:hover{
    box-shadow: 3px 5px 10px #d24a39;
    border-radius: 10px;
    border-bottom: 5px solid white;
    border-top: 5px solid white  ;
    border-left:5px solid #d24a39;
    border-right: 5px solid #d24a39 ;
}
.social-icon #insta:hover{
    box-shadow: 3px 5px 10px #dc4185;
    border-radius: 10px;
    border-bottom: 5px solid #ff5959 ;
    border-top: 5px solid #ff5959  ;
    border-left:5px solid #dc4185;
    border-right: 5px solid #dc4185 ;
}
.social-icon #skype:hover{
    box-shadow: 3px 5px 10px   #03a9f4;
    border-radius: 10px;
    border-bottom: 5px solid #ff5959 ;
    border-top: 5px solid #ff5959  ;
    border-left:5px solid   #03a9f4;
    border-right: 5px solid   #03a9f4  ;
}
.social-icon #youtube:hover{
    box-shadow: 3px 5px 10px#f888a1;
    border-radius: 10px;
    border-bottom: 5px solid #ff5959 ;
    border-top: 5px solid #ff5959  ;
    border-left:5px solid #f888a1;
    border-right: 5px solid #f888a1 ;
}

footer{
    background-color: hsl(243, 90%, 4%);
    height: 150px;
    margin-top: 50px;
}
.footer-heading{
    padding: 10px;
}
footer h1{
    color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-style: italic;
}
footer .footer-text p{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: -20px;

}
