body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flex-section{
    display: flex;
}
.head-section{
    width: 80%;
    margin: 0 auto;
}
.focus-parents{
    width: 50%;
    padding: 20px;
}
.focus-main-text{
    border-left: 3px solid #ff5959;
    border-radius: 3px;
}
.focus-parents h1{
    font-family: 'Lora', serif;
    font-size: 50px;    
    margin-left: 10px;
    color: #0c0934;
}
.focus-text{
margin-right: 25px;
}
.focus-text p{
    margin-right: 100px;
}
.focus-image{
    margin: 0 auto;
}
.focus-image img{
    width: 350px;
    height: 330px;
    margin-top: 60px;
}
.explore-button button{
    padding: 10px 30px 10px 30px;
    background-color: #ff5959;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.focus-parents p{
    font-size: 15px;
}
.mission-headline{
    width: 80%;
    margin-left: 10%;
}
.mission-headline h1{
    text-align: center;
    color: #0c0934;
    font-size: 35px;
    font-weight: 900;
}
.mission{
    margin: 0px 5px 0px 150px;
    background-color: #d1d0d8;
    border-radius: 20px;
    padding: 30px;
}
.vision{
    margin: 0px 5px 0px 10px;
    background-color: #f0cba0;
    border-radius: 20px;
    padding: 30px;
}
.goals{
    margin: 0px 150px 0px 10px;
    background-color: #f5f1e7;
    border-radius: 20px;
    padding: 30px;
}
.misson-list-image img{
    width:120px;
    height: auto;
}